<div class="search-container">
    <div class="search-box">
        <form class="index-form" action="/artist-search" method="GET">
            <input class="index-input" type="search" name="artistName">
            <button class="index-button" type="submit">Search for an Artist</button> 
        </form>
    </div>
</div>